@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

header li, header a, header button {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header{
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 7%;
    background: RGB(0, 85, 149);
    z-index: 1;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: all .3s ease 0s;
    box-shadow: none;
}

.logo
{
    cursor: pointer;
    height: 60px;
    transition: all .3s ease 0s;
    transform: scale(1.0,1.0);
}

.logo:hover{
    /* border-radius: 20px;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75); */
    transition: all .3s ease 0s;
    transform: scale(1.1,1.1);
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all .1s ease 0s;
}

.nav__links li a:hover {
    transition: all .1s ease 0s;
    padding-bottom: 5px;
    color: #004055;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #004055;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: RGB(22, 180, 236);
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(81, 79, 79, 0.75);
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"]{
    font-family: 'Questrial', sans-serif;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;

    transition: .25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: RGB(0, 85, 149);
}

.box input[type = "submit"], .box input[type = "button"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00994C;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;

    cursor: pointer;
    transition: .25s;
}

.box input[type = "submit"]:hover{
    border: 2px solid RGB(0, 85, 149);
}

input{
    color: white;
}

input::placeholder{
    color: white;
}
